{
  	"presets": [
		["@babel/preset-env", {
			"loose": true,
			"shippedProposals": true,
			"useBuiltIns": "entry",
			"corejs": "2",
			"targets": {
				"node": "8.12",
				"browsers": [">0.25%", "not dead", "ie >= 11"]
			}
		}],
		["@babel/preset-react", {
			"useBuiltIns": true,
			"pragma": "React.createElement"
		}]
  	],

  	"plugins": [
		['babel-plugin-module-resolver', {
    		root: ['./src'],
    		alias: {}
  		}],
  		"@babel/plugin-transform-flow-strip-types",
		["@babel/plugin-proposal-class-properties", {
			loose: true
		}],
		["@babel/plugin-transform-runtime", {
			helpers: true,
			regenerator: true,
		}]
  	]
}